@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #0062b9;
  --secondary-color: #ffffff;
  --tertiary-color: #999999;
}

/* styling body */
body {
  font-family: "Poppins";
  background-color: #1c1919;
}
.header_name {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Poppins";
  color: var(--secondary-color);
  font-weight: 700;

  padding: 1rem 0rem;
  text-align: center;
}
.div_header_name {
  background-color: #101010;
  width: 100%;
  
}
.TheBody {
  width: 1200px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 3rem;
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
}

.header_current {
  text-align: center;
  color: var(--secondary-color);
  font-weight: 600;
}
li {
  color: #ffffff;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.headerOfGoals {
  color: var(--secondary-color);
  text-align: center;
  text-decoration: underline;
  margin-top: 2rem;
}

.goals_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  grid-gap: 1rem;
}
.child_container {
  background-color: #1c1919;
  border: 1px solid #1c1919;
  box-shadow: 1px 4px 10px #101010;
  border-radius: 10px;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.child_container p {
  color: var(--tertiary-color);
  font-weight: 500;
}
.goal_header {
  flex-grow: 1;
}
footer {
  background-color: #101010;
  width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1rem;
padding: 1rem 0rem;
}
footer a {
  color: var(--tertiary-color);
  transition: all 0.5s;

}
.mobile {
  display: none;
}
footer a:hover{ 
  font-size: 1.2rem;
  transition: all 0.1s;
}
@media (max-width: 1000px) {
  .TheBody {
      width: 100%;
  }
  .goals_container {
    grid-template-columns: repeat(2, 1fr);
    
  }
}
@media (max-width: 640px) {
 .child_container p {
  font-size: 0.8rem;
 }
 .child_container h1 {
  font-size: 1rem;
 }.headerOfGoals {
  font-size: 1.3rem;
  margin-top: 2rem;
 }
 .child_container {
  padding: 1rem;
 }
 ul {
  font-size: 0.9rem;
 }
}
@media (max-width: 500px) {
  .TheBody {
      width: 100%;
  }
  .goals_container {
    grid-template-columns: repeat(1, 1fr);
    
  }
}
@media (max-width: 315px) {
.desktop {
  display: none;
}
.mobile {
  display: flex;
}
}